
.main-background {
    width: 100%;
    height:500px;
    background-size: 100%;
    background-image: url(assets/skyballoon.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 1px;
    position: relative;
    
}
.main-title {
    color: black;
    font-size: 40px;
    margin-top: 200px;
    text-align: center;
    margin-bottom: 10px;
}
.main-intro {
    text-align: center;
    margin-right: 0px;
    padding: 0;
    margin-bottom: 10px;
}
.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    width: 150px;
}
.content {
    width: 50%;
    margin: auto;
    position: relative;
    top:-30px;
    text-align: center;
    max-width: 600px;
    min-width: 20px;
}
.about-form{
    display:flex;
    align-items:first baseline;
    justify-content: center;
}
.form-background {
    background-color: black;
    padding: 30px;
}
.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
.form-input {
    
    width: 100%;
}
.form-title{
    font-size: 30px;
    font-weight: bold;
}
.w-50 {
    width: 50%;
    float:left;
    Box-sizing: border-box;
    padding: 10px; 

}
.w-100{
    Box-sizing: border-box;
    padding: 10px; 
}
.send-button {
    padding: 10px;
    display:block;
    margin-left: auto;
    background-color: yellowgreen;
}